.btn {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 30px;
    font-size: 1.5rem;
    border: 1px solid #333333;
    border-radius: 5px;
    outline: none;
}

.center-btn-wrapper {
    display: flex;
    justify-content: center;
}

.sign-up {
    background-color: #00c455;
    color: #0f0f0f;
    padding: 20px 30px;
    font-size: 1.8rem;
    border: 1px solid #00c455;
    border-radius: 5px;
    outline: none;
}

.learn-more {
    background-color: #0f0f0f;
    color: #e7e7e7;
    padding: 20px 30px;
    font-size: 1.8rem;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    outline: none;
}